<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090356891582-itlmdg551rp2ph041iq6smcsheppu1m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090356891582-itlmdg551rp2ph041iq6smcsheppu1m0</string>
	<key>API_KEY</key>
	<string>AIzaSyDqRphZFkUahhLb84GDckRAslSQY2xw0tU</string>
	<key>GCM_SENDER_ID</key>
	<string>1090356891582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liftingProgressTracker</string>
	<key>PROJECT_ID</key>
	<string>lifting-progress-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>lifting-progress-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090356891582:ios:7dfad7c0516d72b97d33ef</string>
</dict>
</plist>